@font-face {
    font-family: "Tiempos_Regular";
    src: url(../../assets/fonts/Tiempos-Font/TiemposHeadline-Regular.otf);
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
