@font-face {
    font-family: "Sofia_Pro";
    src: url(../../assets/fonts/sofiapro/sofiapro-light.otf);
}

@font-face {
    font-family: "Tiempos_Regular";
    src: url(../../assets/fonts/Tiempos-Font/TiemposHeadline-Regular.otf);
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #669bbc;
    font-family: "Sofia_Pro", sans-serif;
    font-size: 1rem;
}

.signup__img {
    width: 40rem;
    height: auto;
}
